{
    "openai_key": "ключ openai",
    "telegram_bot_token": "токен для бота",
    "bot_name": "YourBotName",
    "admin_id": 123456,
    "timeout": 30,
    "debug": false,
    "chatIdLanguageMap": {
      "-978504211": "Swift", 
      "-2390932943": "Java",
      "-94039493": {
        "1": "Python",      
        "2": "Swift, iOS"
      }
    },
    "welcome_message": "Привет! Я помощник, напиши в какой-нибудь чат, где я есть"
  }
  