{
    "openai_key": "ключ openai",
    "telegram_bot_token": "токен для бота",
    "bot_name": "@YourBotName",
    "admin_id": 123456,
    "chatIdLanguageMap": {
      "-978504211": "Swift", 
      "-2390932943": "Java"
    }
  }
  